
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchFestivals</title>
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div class="width=100% height=100% align-left"></div><div class="width=100% height=100% align-left"></div><div class="align-left"></div>
    <div style="display:none;"><a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;1&#107;&#111;&#110;&#116;&#97;&#107;&#116;.&#99;&#111;&#109;">&#1074;&#1079;&#1083;&#1086;&#1084;</a></div><div class="padding valign-image-left"></div><div class="padding  valign-image-right"></div><div class="padding valign-image-center"></div>
    <div id="header">
        <form action="/Profile/Enter" method="post">
            <table>
                <tr>
                    <td>
                        <h1>Search Festivals</h1>
                    </td>                 
                </tr>
                <tr>
                    <td></td>
                    <td> <h3>Enter login</h3>
                        <input type="text" name="Login">
                    </td>
                    <td><h3>Enter password</h3>
                        <input type="text" name="Password">
                    </td>
                    <td>
                        <input type="submit" name="enter" value="Enter" class="b1">
                    </td>
                </tr>
            </table>
            </form>
</div>
    <div id="page">
        <div id="content">
            <div class="post">
                <h1 class="title">Welcome to Search Dance Festivals</h1>
                <p> In this application you can find a dance festivals</p>
                <p> which you can register and go on to participate in them.</p>
                <p>Also, you get a lot of positive emotions and prizes from our sponsors. </p> 
                <div class="entry">
                   
                </div>

            </div>

        </div>
        <div id="sidebar">
            <ul>
                <li>
                    <h2>Menu</h2>
                    <ul>
                        <li><form action="/Register/Index" method="post">
                                <input type="submit" name="submit" value="Registration" class="b1"></form>
                            </li>
                        
                        </ul>
                </li>

            </ul>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2015 <a href="index.cshtml">SearchFestivals</a></p>
    </div>
</body>
</html>
